<div id='nav-menu-container'>
  <div class='nav-menu-hide' id='nav-hamburger'></div>
</div>
<div class='group-info-btn-container'>
  <div class='group-info-btn-hide' id='group-btn'>
  </div>
</div>
<header id='header'>
  <h2>{{channelName}}</h2>
  <div id='toggles'>
    <div class='toggle-container'>
      <p id='toggle-label'>Show channel info</p>
      <div class='toggle switch-off'>
        <span class='toggle-switch off'></span>
      </div>
    </div>
  </div>
</header>
<main id='main'>
  <div class='text-container'>
    <div></div>
  </div>
</main>
<nav id='nav'>
  <div class='member-channels'>
    <div id='list-and-choose'>
      <h2>Channels <i class='fa fa-caret-down' aria-hidden='true'></i></h2>
      {{#if channelsData}}
        <form action='' id='select-channel-displayed'>

          <select id='list' name='get-channel' size='7'>
            {{#each channelsData}}

              <option value='{{channelName}}'>{{channelName}}</option>
            {{/each}}
          </select>
          <button type='submit' style='display: none;'></button>
        </form>
      {{else}}
        <p class='no-channels'>
          No Channels Available Yet
        </p>

      {{/if}}
    </div>
  </div>
  <div id='join-create'>
    <button id='nav-create-channel'><i
        class='fa fa-plus'
        aria-hidden='true'
      ></i>
      Create Channel</button>
    <button id='nav-join-channel'><i class='fas fa-user-friends'></i>
      Join Channel</button>
    <!-- <button> <i class="fas fa-user-edit    "></i>  My Profile</button> -->
  </div>
  <!-- <div class="notifications"></div> -->
</nav>
<aside id='aside' class='aside-hide'>
  <h1 class='channel-info-head'>{{channelName}}</h1>

  <div class='channel-info-container'>
    <div class='channel-avatar'>
      <i class='fas fa-user-friends'></i>
    </div>
    <div class='channel-topic-description'>
      <div class='topic-info'><p><b>Topic:
          </b>{{channelTopic}}</p></div>
      <div class='description-info'><p><b>Description:
          </b>{{channelDescription}}</p></div>

    </div>
    <h1 class='members-head'>Members</h1>
    <div class='channel-members'>
      <ul class='members-info'>
        {{#each channelMembers}}
          <li>{{this}}</li>
        {{/each}}

      </ul>
    </div>
  </div>
</aside>
<footer id='footer'>
  <form action='' id='text-form' class='card'>
    <div class='form-row'>
      <div id='textbox' contenteditable='true' role='textbox'></div>
      <button type='submit' id='send-button'>Send</button>
    </div>
  </form>
</footer>