<div class='text-info {{sender}}'>
  <div class='sender-info'>
    <div class='profile-pic'>
      <span style='margin-top: 5px;'>{{sender_first_letter}}</span>
    </div>
    <p class='sender-name'> {{name}} </p>
  </div>
  <div class='sender-text'>
    <p class='text'>{{{text}}}</p>
  </div>
  <div class='text-date'>
    <p class='date'>{{text_time}}</p>
  </div>
  <svg class='svg-{{sender}}'></svg>
</div>